spring:
  datasource:
    url: jdbc:mysql://localhost:3306/recipebot
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

chatbot:
  base-url: http://localhost:8000